<!doctype html>
<html lang="en">
    {{ template "head" "Yuanyuan Zhou About" }}
    <body>
        {{template "navbar" .Login }}
        <h1>About</h1>
        <pre>{{ .Content }}</pre>
        <hr>
    </body>
</html>
