{{ template "root" }}

{{ template "head" "Yuanyuan Zhou Works" }}

<body>
    {{template "navbar" .Login }}
    <h1>About</h1>
    <p>
    {{ template "about.content" }}
    </p>
    <hr>
</body>
</html>
