<!doctype html>
<html lang="en">
    {{ template "head" "Yuanyuan Zhou Contact" }}
    <body>
        {{template "navbar" .Login }}
        <h1>Contact</h1>
        <p>Hi, mister.</p>
        <hr>
    </body>
</html>
