<!doctype html>
<html lang="en">
    {{ template "head" "Yuanyuan Zhou Works" }}
    <body>
        {{template "navbar" .Login }}
        <div class="pdf-container" id="pdfContainer"></div>
        <div id="loading">Loading more pages...</div>
    {{ template "script" }}
    </body>
</html>
