<!DOCTYPE html>
<html lang="en">
{{ template "head" "Info" }}
    <body>
    {{template "navbar" .Login }}
    <h1>Info</h1>

    <hr>
    {{ if .Login }}
    <div class="upload-section"> 
        <form action="/info" method="POST">
            <h2>Edit Info</h2>
            <div>
                <label>Content:</label><br>
                <textarea name="content" required>{{.Info.Content}}</textarea>
            </div>

            <div>
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
    {{ end }}
    <div>{{.Info.Content}}</div>
</body>
</html>
