<!DOCTYPE html>
<html lang="en">
{{ template "head" .Story.Title }}
    <body>
    {{template "navbar" .Login }}
    <h2>{{.Story.Title}}</h2>

    <div class="timestamp">{{.Story.CreatedAt.Format "Jan 2, 2006 at 15:04"}}</div>
    <hr>
    <div>{{.Story.Content}}</div>
    {{ if .Login }}
    <div>
    <h2>Edit Story</h2>
    <form action="/stories/{{ .Story.ID }}" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="id" value="{{.Story.ID}}">
        <div>
        <input type="text" name="title" value="{{.Story.Title}}" required>
        </div>
        <div>
        <textarea name="content" required>{{.Story.Content}}</textarea>
        </div>
        <div>
        <button type="submit">Save Changes</button>
        </div>
    </form>
    </div>
    <div>
      <form action="/stories/{{ .Story.ID }}" method="POST" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="id" value="{{.Story.ID}}">
            <button type="submit" class="danger">Delete Story</button>
        </form>
    {{ end }}
</body>
</html>
