{{ define "upload-story" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head" "Upload Story" }}
<body>
    {{ template "navbar" . }}
    <div class="container">
        {{ template "story-upload-form" . }}
    </div>
</body>
</html>
{{ end }}