{{template "head" .}}

<body>
    <div class="container">
        <div class="upload-selection">
            <h2>Select Upload Type</h2>
            <ul>
                <li><a href="/upload/cover">Upload Cover</a></li>
                <li><a href="/upload/portfolio">Upload Portfolio</a></li>
                <li><a href="/upload/visual">Upload Visual</a></li>
                <li><a href="/upload/story">Upload Story</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
