{{ define "upload-cover" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head" "Upload Cover" }}
<body>
    {{ template "navbar" . }}
    <div class="container">
        {{ template "cover-upload-form" . }}
    </div>
    {{ template "browser-image-compression-script" . }}
</body>
</html>
{{ end }}