<!DOCTYPE html>
<html lang="en">
{{ template "head" "Yuanyuan Zhou Visual" }}
<body>
  <h1>Yuanyuan Zhou</h1>
<pre>
<a href="/">..</a>
{{ range .Visuals -}}
<a href="/visuals/{{ .ID }}">{{ .CreatedAt.Format "Jan _2 15:04"}} {{.Title}}</a>
<div class="thumb-grid" data-id="{{ .ID }}"></div>
{{ end -}}
</pre>


<hr>

{{ template "thumbnail-loading-script" }}


</body>
</html>
